<div>
@if(this.NoMoreRating==false && this.counter > this.BookCollection.length - 1) {
  <div>You have Rated every book!</div>
  <button (click)="ProcessConfirm()"  class="button">I wanna Rate again!</button>
  <button (click)="ProcessDecline()"  class="button">No, im fine!</button>
}
</div>
@if (NoMoreRating == false) {
<div class="book-wrapper">
<div class="book-placeholder">
  <div class="book-placeholder--title">Title: {{BookCollection[counter].title || 'No Title'}}</div>
  <div class="book-placeholder--author">Author: {{BookCollection[counter].author || 'No Author'}}</div><br>
  <div class="book-placeholder--desc">Description: {{BookCollection[counter].description || 'No Description'}}</div>
  <div class="book-placeholder--desc">Rating: {{BookCollection[counter].rating || 'No Rating'}}</div>
  <div class="book-placeholder--desc">Amount of Rates: {{BookCollection[counter].rates || 'No one has rated yet!'}}</div>
</div>
<hr>
<div>Rate The Book</div>
      <textarea [(ngModel)]="modelRating" placeholder="Rating" class="ratingarea"></textarea><br>
      <button (click)="ProcessCalculateAverageRating()" class="button">Rate</button>
  @if (modelRating < 1 || modelRating > 5) {
    <div class="Error">Error!</div> 
    <div>Rating must be between 1 and 5</div>
  }
<hr>
<button (click)="ProcessLastBook()"  class="button">Last Book</button>
<button (click)="ProcessNextBook()" class="button">Next Book</button>
<button (click)="ResetBooklist()" class="button">ReturnToStart</button>
  <hr>
  <div class="book-data">
    <p>BELOW IS FOR SAVING/EDITING OR ADDING BOOK DATA!</p>
    <hr>
<input [(ngModel)]="modelTitle" type="text" placeholder="Book name">

<input [(ngModel)]="modelAuthor"  type="text" placeholder="Author">
<hr>

<textarea [(ngModel)]="modelNote" placeholder="Description" class="textarea"></textarea>
<div>Current length: {{modelNote.length}} symbols</div>

The Description length:
<input [(ngModel)]="modelSize"  type="text" placeholder="test" class="charLimit">
@if (modelNote.length > modelSize) {
  <div class="Error">Too long!</div> 
  <div>Description must be less than {{modelSize}} symbols</div>
}

<hr>
<button (click)="ProcessSave()" class="button">Save</button>
<button (click)="ProcessAddBook()" class="button">Add</button>
</div>
</div>
}

@if (BookCollection.length > 0 && NoMoreRating == true) {
  <div>
    <p>The job is done!</p>
    <br>
    <p>________________________BOOK LIST________________________</p>
    @for (item of BookCollection; track item) {
      <div class="item">
      <div>{{item.title}}</div>
      <div>{{item.author}}</div><br>
      <div>{{item.description}}</div>
      <div>Current Rating: {{item.rating}}</div>
      <div>Amount of Rates: {{item.rates}}</div>
  <br>
      <button (click)="ProcessBookEdit(item,$index)"  class="button">Edit</button>
      <button (click)="ProcessDeleteBook(item)"  class="button">Delete</button>
    </div>
    }
  </div>
  }